// #visitCard {
//     .qm-card {
//         display: block !important;
//         height: 100% !important;
//         position: relative;
//         // Additional padding to support the actions buttoms positioned absolutely due to unavoidable flex box redraw issues in IE 11
//         padding-bottom: rem(100px);
//         &__footer-section {
//             position: absolute;
//             bottom: 0;
//             left: 0;
//             right: 0;
//             padding: rem(40px 32px 32px);
//         }
//     }
// }

#visitCard {
    .qm-card {
        transition: height 2s;
        transition: max-height 0.3s ease-in-out, box-shadow 0.6s linear;
        &__header-section{
            margin-bottom: rem(10px);
        }
        &__footer-section {
            .button-tooltip{
                //align-self:flex-end;
            }
            &-sms-container{
                 width: 218px;
                @media screen and (max-width: #{map-get($grid-breakpoints, 'xl')}) {
                  width: 100px;
                }
                height: 88px;
                display: none;
                flex-direction: column;
                border: 1px solid $primary-action-button-color;
                border-radius: 4px;
                @at-root [dir='rtl'] & {
                    margin-right: 10px;
                }
            }
            &-sms-top-container{
                // width: 216px;
                height: 45px;
                display: flex;
                border-bottom: 1px solid $primary-action-button-color;
                align-items: center;
            }
            &-phone-icon{
                margin: 0;
                margin-left: 12px;
                @at-root [dir='rtl'] & {
                    margin-right: 12px;
                }
                font-size: 32px;
                color: $primary-action-button-color;
            }
            &-text{
                font-size: 14px;
                margin-left: 16px;
                @at-root [dir='rtl'] & {
                    margin-right: 16px;
                }
                color: $primary-action-button-color;
            }
            &-sms-bottom-container{
                // width: 218px;
                height: 40px;
                display: flex;
                align-items: center;
            }
            &-sms-input{
                 width: 142px;
                 @media screen and (max-width: #{map-get($grid-breakpoints, 'xl')}) {
                    width: 50px;
                  }
                outline: none;
                border: none;
                margin-left: 20px;
                margin-right: 10px;
                color: rgba(0, 0, 0, 0.6);
                @at-root [dir='rtl'] & {
                    margin-left: 10px;
                    margin-right: 20px;
                }
            }
            &-send-button{
                height: 100%;
                width: 100%;
                margin-left: -10px;
                &-icon{
                    transform: rotate(180deg);
                    @at-root [dir='rtl'] & {
                        margin-right: -10px;
                        transform: rotate(180deg);
                    }
                    font-size: 24px;
                }

            }
            .qm-label-error{
                display: none;
                color: $primary-action-button-color;
                font-size: 13px;
            }
        }
    }
}